[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "autohrf"]
	path = autohrf
	url = https://github.com/demsarjure/autohrf
	shallow = true
	registered = true
